.StartScreen {

}
.master{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    width: 40%;
    height: 320px;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}
.login_box .logo{
    width: 100%;
    height: 200px;
    background: #f0f0f0
}
.login_box .name{
    display: flex;
    margin-top: 15px;
}
 .login_box .name .loginForm{
    margin: auto;
    height: 100px;
}
.loginForm .user_name{
    color: #f0f0f0
}

a{
    text-decoration: none;
    margin-left: 10px;
}