.EndScreen {
  margin: 2rem;
}

.title {
  text-align: center;
}

.main-box {
  border: 2px solid beige;
  text-align: center;
}

.winner-item {
  margin: 1rem;
}

.button {
  padding: 1rem;
}
#congratz{
  margin-bottom: 20px;
    text-align: center;
}

.btn{
    width: 47%;
  font-size: 13px !important;
}

.current-user {
  background-color :#f9ef7d;
}

.loading {
  padding: 32px !important;
  text-align: center !important;
  font-size: 24px !important;
}

.master-beg{
  background-color: gainsboro;
  padding: 6px;
  font-weight: bold;
}

.master-med{
  background-color: lightgrey;
  padding: 6px;
  font-weight: bold;
}

.master-int{
  background-color: goldenrod;
  padding: 6px;
  font-weight: bold;
}

.master-exp{
  background-color: gold;
  padding: 6px;
  font-weight: bold;
}

table td,table th {
  font-size: 14px !important;
}