.FallingElement{
    padding: 12px;
    position: absolute;
    background-color: chocolate;
    color: #000 ;
    text-align: center;
    width: auto;
    height: 20px;
    font-weight: bold;
}

.cloud {
    width: 70px; height: 30px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 30px; height: 80px;
    position: absolute; top: -15px; left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 40px; height: 40px;
    top: -55px; left: auto; right: 15px;
}
