.FallingElement{
    padding: 12px;
    position: absolute;
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    min-width: 200px;
    color: #000 ;
    text-align: center;
    width: auto;
    height: 20px;
    font-weight: bold;
    
}

.swing {
    animation: swing ease-in-out 1s infinite alternate;
}

.swing:after{
    transform: rotate(45deg);
}

 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}