@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Delius');
body,html{
    overflow-x: hidden;
    height: 100%;

}

*{
    font-family: 'Delius', cursive;
}